# Ejercicios Modulo 5. Librerías especializadas en datos (Soluciones)

Consideraciones a tener en cuenta: 

* Guardar este documento con el siguiente formato para su entrega: __M5_05_nombre_apellido1_apellido2__
* Realizar los ejercicios con las herramientas vistas en las sesiones. 
* Comentar el código
* Utilizar nombres de variables apropiados, si vais a guardar una nota, llamar a esa variable nota, no n o x

**1) Trabajemos con NumPy**

* Importa numpy y usa un alias para poder utilizar sus recursos
* Crea un array de elementos (del 10 al 100)
* Invertir el array
* Crear un array 3x3 con valores de 0 a 8
* Crear un array identidad de 6x6
* Crear un array con valores al azar con forma 3x3x3
* Crear dos arrays con valores al azar A y B, verificar si son iguales (hay varias opciones, investigar)

In [ ]:
import numpy as np

array_10_to_100 = np.arange(10, 101)
print("Array del 10 al 100:", array_10_to_100)

array_invertido = np.flip(array_10_to_100)
print("Array invertido:", array_invertido)

array_3x3 = np.arange(9).reshape(3, 3)
print("Array 3x3 con valores de 0 a 8:\n", array_3x3)

array_identidad = np.eye(6)
print("Array identidad de 6x6:\n", array_identidad)

array_aleatorio = np.random.random((3, 3, 3))
print("Array al azar con forma 3x3x3:\n", array_aleatorio)

A = np.random.random((3, 3))
B = np.random.random((3, 3))

son_iguales = np.array_equal(A, B)
print("¿Los arrays A y B son iguales?:", son_iguales)

**2) Sigamos con NumPy**

* Crear un array de 100 elementos aleatorios comprendidos entre 1 y 1000 (pueden ser números enteros).
* Este array se llamara dólares
* Crear otro array llamado euros
* Realizar la conversión de los precios en dólares del primer array al segundo array en euros. Se puede serguir la siguiente conversión:
    - 1 EUR = 1,14362 USD
    - 1 USD = 0,874413 EUR
* Mostrar el resultado del array de euros pero redondeado a 2 decimales

In [1]:
import numpy as np

dolares = np.random.randint(1, 1001, 100)
print("Array de precios en dólares:\n", dolares)

euros = dolares * 0.874413
print("Array de precios en euros:\n", euros)

euros_redondeados = np.round(euros, 2)
print("Array de precios en euros (redondeado a 2 decimales):\n", euros_redondeados)

Array de precios en dólares:
 [858 616 987 316 880 817 657 176 523  16 965 496 277 619   4 759 995 306
 243 693  20 446 653 644 772 293 573 814 931 114  66 310  65 677 167 499
 896 761 513 546 588 528 776 415 537 281 555 710 960 546 494 520 684 537
 854 988 356 264  89 831 198 881 632 994 573 750 270  80 504 331 808 960
 231 777 470 488 955 539 224 451 968 756 729 355 319 292  15 880 800 400
  41 910  58 410 594 810 648 807 899 425]
Array de precios en euros:
 [750.246354 538.638408 863.045631 276.314508 769.48344  714.395421
 574.489341 153.896688 457.317999  13.990608 843.808545 433.708848
 242.212401 541.261647   3.497652 663.679467 870.040935 267.570378
 212.482359 605.968209  17.48826  389.988198 570.991689 563.121972
 675.046836 256.203009 501.038649 711.772182 814.078503  99.683082
  57.711258 271.06803   56.836845 591.977601 146.026971 436.332087
 783.474048 665.428293 448.573869 477.429498 514.154844 461.690064
 678.544488 362.881395 469.559781 245.710053 485.299215 620.83323
 839.43648  477.429498 431.960022 454.69476  598.098492 469.559781
 746.748702 863.920044 311.291028 230.845032  77.822757 726.637203
 173.133774 770.357853 552.629016 869.166522 501.038649 655.80975
 236.09151   69.95304  440.704152 289.430703 706.525704 839.43648
 201.989403 679.418901 410.97411  426.713544 835.064415 471.308607
 195.868512 394.360263 846.431784 661.056228 637.447077 310.416615
 278.937747 255.328596  13.116195 769.48344  699.5304   349.7652
  35.850933 795.71583   50.715954 358.50933  519.401322 708.27453
 566.619624 705.651291 786.097287 371.625525]
Array de precios en euros (redondeado a 2 decimales):
 [750.25 538.64 863.05 276.31 769.48 714.4  574.49 153.9  457.32  13.99
 843.81 433.71 242.21 541.26   3.5  663.68 870.04 267.57 212.48 605.97
  17.49 389.99 570.99 563.12 675.05 256.2  501.04 711.77 814.08  99.68
  57.71 271.07  56.84 591.98 146.03 436.33 783.47 665.43 448.57 477.43
 514.15 461.69 678.54 362.88 469.56 245.71 485.3  620.83 839.44 477.43
 431.96 454.69 598.1  469.56 746.75 863.92 311.29 230.85  77.82 726.64
 173.13 770.36 552.63 869.17 501.04 655.81 236.09  69.95 440.7  289.43
 706.53 839.44 201.99 679.42 410.97 426.71 835.06 471.31 195.87 394.36
 846.43 661.06 637.45 310.42 278.94 255.33  13.12 769.48 699.53 349.77
  35.85 795.72  50.72 358.51 519.4  708.27 566.62 705.65 786.1  371.63]

**3) Trabajemos con pandas**

* Importa pandas y usa un alias para poder utilizar sus recursos
* Cargar como dataframe de pandas el csv 05_05_imdb_titulos.csv y mostrar sus 5 primeros registros
* Cargar como dataframe de pandas el csv 05_05_imdb_elenco.csv y mostrar sus 5 primeros registros
* Mostrar el número de registros del dataframe de titulos
* Mostrar el número de registros del dataframe de elenco
* Mostrar las 5 peliculas más antiguas del listado de titulos
* Mostrar las peliculas que en el titulo tienen la palabra "Dracula". También mostrar el número total de peliculas que coincidan con este requisito
* Mostrar los 10 titulos más comunes (que más se repiten)
* Mostrar cual fue la primer pelicula hecha titulada "Romeo and Juliet" 
* Listar todas las peliculas que contengan la palabra "Exorcist" ordenadas de la más vieja a la más reciente
* Mostrar cuantas peliculas fueron hechas en el año 1950
* Mostrar cuantas peliculas fueron hechas de 1950 a 1959
* Mostrar todos los roles o papeles que hubo en la pelicula "The Godfather". También mostrar el número total de coincidencias
* Mostrar el elenco completo ordenado por la clasificacion "n" de la pelicula "Dracula" de 1958
* Mostrar cuantos papeles de "Bruce Wayne" han sido hechos en la historia de las peliculas
* Mostrar cuantos papeles ha hecho "Robert De Niro" en su carrera
* Listado de papeles como protagonista (n=1) que tuvo el actor "Charlton Heston" en la década de los 60's, ordenado por año de forma descendente
* Mostrar cuantos papeles para actores hubo en la década de los 50's
* Mostrar cuantos papeles para actrices hubo en la década de los 50's

In [7]:
import pandas as pd

titulos_df = pd.read_csv("05_05_imdb_titulos.csv")
print("Primeros 5 registros del dataframe de títulos:")
print(titulos_df.head())

elenco_df = pd.read_csv("05_05_imdb_elenco.csv")
print("\nPrimeros 5 registros del dataframe de elenco:")
print(elenco_df.head())

num_registros_titulos = len(titulos_df)
print("\nNúmero de registros del dataframe de títulos:", num_registros_titulos)

num_registros_elenco = len(elenco_df)
print("Número de registros del dataframe de elenco:", num_registros_elenco)

peliculas_antiguas = titulos_df.sort_values(by="year").head()
print("\nLas 5 películas más antiguas:")
print(peliculas_antiguas)

dracula_movies = titulos_df[titulos_df["title"].str.contains("Dracula", case=False)]
num_dracula_movies = len(dracula_movies)
print("\nPelículas que contienen la palabra 'Dracula':")
print(dracula_movies)
print("\nNúmero total de películas que contienen la palabra 'Dracula':", num_dracula_movies)

titulos_mas_comunes = titulos_df["title"].value_counts().head(10)
print("\nLos 10 títulos más comunes:")
print(titulos_mas_comunes)
 
primer_romeo_and_juliet = titulos_df[titulos_df["title"] == "Romeo and Juliet"].sort_values(by="year").head(1)
print("\nPrimera película titulada 'Romeo and Juliet':")
print(primer_romeo_and_juliet)

exorcist_movies = titulos_df[titulos_df["title"].str.contains("Exorcist", case=False)].sort_values(by="year")
print("\nPelículas que contienen la palabra 'Exorcist', ordenadas por año:")
print(exorcist_movies)

num_peliculas_1950 = titulos_df[titulos_df["year"] == 1950].shape[0]
print("\nNúmero de películas hechas en el año 1950:", num_peliculas_1950)

num_peliculas_1950s = titulos_df[(titulos_df["year"] >= 1950) & (titulos_df["year"] <= 1959)].shape[0]
print("Número de películas hechas de 1950 a 1959:", num_peliculas_1950s)

roles_godfather = elenco_df[elenco_df["title"] == "The Godfather"]["character"].unique()
num_roles_godfather = len(roles_godfather)
print("\nRoles en la película 'The Godfather':")
print(roles_godfather)
print("\nNúmero total de roles en la película 'The Godfather':", num_roles_godfather)

elenco_dracula_1958 = elenco_df[(elenco_df["title"] == "Dracula") & (elenco_df["year"] == 1958)].sort_values(by="n")
print("\nElenco completo de la película 'Dracula' de 1958 ordenado por clasificación 'n':")
print(elenco_dracula_1958)

num_papeles_bruce_wayne = elenco_df[elenco_df["character"] == "Bruce Wayne"].shape[0]
print("\nNúmero de papeles de 'Bruce Wayne' en la historia de las películas:", num_papeles_bruce_wayne)

num_papeles_robert_de_niro = elenco_df[elenco_df["name"] == "Robert De Niro"].shape[0]
print("\nNúmero de papeles de 'Robert De Niro' en su carrera:", num_papeles_robert_de_niro)


papeles_protagonista_charlton_heston = elenco_df[(elenco_df["name"] == "Charlton Heston") & (elenco_df["n"] == 1) & (elenco_df["year"] >= 1960) & (elenco_df["year"] <= 1969)].sort_values(by="year", ascending=False)
print("\nPapeles como protagonista de Charlton Heston en los 60's:")
print(papeles_protagonista_charlton_heston)


num_papeles_actores_50s = elenco_df[(elenco_df["type"] == "actor") & (elenco_df["year"] >= 1950) & (elenco_df["year"] <= 1959)].shape[0]
print("\nNúmero de papeles para actores en la década de los 50's:", num_papeles_actores_50s)


num_papeles_actrices_50s = elenco_df[(elenco_df["type"] == "actress") & (elenco_df["year"] >= 1950) & (elenco_df["year"] <= 1959)]

Primeros 5 registros del dataframe de títulos:
                                   title  year
0                                 Mahler  1974
1           Ogon, voda i... mednye truby  1968
2  Ana Nojoom bent alasherah wamotalagah  2014
3                      Malu de Bicicleta  2010
4             Nazareno Apostol: Boy Ahas  1989

Primeros 5 registros del dataframe de elenco:
                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

Número de registros del dataframe de títulos: 230407
Número de registros del dataframe de elenco: 3564650

Las 5 películas más antiguas:
                                                    title  year
13229                                          Miss Jerry  1894
103233                                 The Startled Lover  1898
133020     Reproduction of the Corbett and Jeffries Fight  1899
51528                                Family Troubles (II)  1900
195127  Pierrot's Problem, or How to Make a Fat Wife O...  1900

ValueError: Cannot mask with non-boolean array containing NA / NaN values