# Ejercicios de tipos de variables
###  1. Indicaremos un ejemplo de un tipo de dato: 
## Entero:

In [ ]:
dos = 2 #creo una variable llamada dos y le asigno un valor de numero entero 2

In [ ]:
uno = 1 #creo otra variable llamada uno y le asigno un valor de numero entero 1

In [ ]:
resultado = dos + uno #creo otra variable llamada resultado y le indico que me sume la variable dos mas la variable uno

In [ ]:
print (resultado) #imprime en pantalla el resultado de la variable resultado dando como resultado un tipo de dato entero en este caso el 3

## Flotante:

In [ ]:
diez = 10 #creo una variable llamada diez con un valor de numero entero 10

In [ ]:
tres = 3 #creo una variable llamada tres con un valor de numero entero 3

In [ ]:
resultado = diez / tres #creo otra variable que me indique que divida la variable diez entre la variable tres

In [ ]:
print (resultado) #imprime que me muestre en pantalla el resultado de la variable resultado, dando coomo resultado un tipo de dato flotante

## String:

In [ ]:
nombre = "Nicolas" #creo una variable llamada nombre y le asigno un valor str llamada Nicolas

In [ ]:
apellido = "Urbaez" #creo una variable llamada apellido y le asigno un valor str llamada Urbaez

In [ ]:
nombre_completo = nombre+" "+apellido #creo una variable llamada nombre_completo le indico que me sume o contatenar la variable nombre mas un espacio
#que esta entre " " y la variabñle apellido

In [ ]:
print (nombre_completo) #me imprime la variable nombre_completo conun espacio entre cada variable str

# Booleano:

In [ ]:
x=1 #creo una variable llamada x, y le doy un valor entero 1

In [ ]:
y=2 #creo otra variable llamada y, le doy un valor entero 2

In [ ]:
x==y #le pregunto que x es igual a y me da un resultado como falso

# Ejercicios de tipos de variables
## 2.Crearemos dos variables que se llamen nombre y apellido, en ellas introduce tu nombre y apellidos y luego prueba lo siguiente e indica el resultado:
nombre + apellido
nombre + apellido + "."
nombre * 3

In [2]:
nombre = "Nicolas" #creo una variable llamada nombre que contiene un str Nicolas

In [3]:
apellido = "Urbaez" #creo una variable llamada apellido que contiene un str Urbaez

In [4]:
print (nombre + apellido) #muestro en pantalla la concatenacion de nombre+apellido dabdo comoresultado NicolasUrbaez

NicolasUrbaez

In [ ]:
print (nombre + apellido + ".") #muestro en pantalla la concatenacion de nombre+apellido+"." monstrando como resultado lo mismo
#que la anterior pero le agrega otr str que seria un .

In [ ]:
print (nombre*3) #muestro en pantalla la variable nombre 3 veces ya que multiplica con el signo * la variable nombre 3 veces

# 3. Retoma el ejercicio anterior, creo una variable que se llame nombreCompleto que una tu nombre y tu apellido con un espacio en el medio.
# Sobre esta variable, ¿eres capaz a extraer tu nombre utilizando slicing?

In [15]:
nombre = "Nicolas" #creo una variable str llamada Nicolas
apellido = "Urbaez" #creo una variable str llamada Urbaez
nombre_completo = nombre [0:7] +" "+ apellido [0:6] #creo una variable llamada nombre_completo y le indico que nombre es igual al indice 0 hasta el 7
#nas una str que esta " " <con 1 espacio mas el indice de la variable apellido de 0 a 6
print (nombre_completo) #muestra en pantalla el nombre completo mas el espacio que se agrego con str

Nicolas Urbaez